/* Move down content because we have a fixed navbar that is 50px tall */
/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
background-color:#eee;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.fixpreload {
	display: block;
	width: 100%;
	height: 263px;
	overflow:hidden;
}

body > .wrapper {
  padding: 80px 0 0;
}

.tagContainer{
	margin: 20px 0px 0px;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.IN-widget {
  vertical-align: top !important;
}

.line-btn {
	vertical-align: baseline;
}

.pocket-btn {
    display: inline;
}

.wrapper {
	/*padding-bottom: 20px;*/
}

.navbar-inverse {
	background-color: #FFF;
	border-color: #FFF;
}

.navbar-brand {
	font-family: 'Raleway Dots', cursive;
}

.navbar-inverse .navbar-brand {
	color: #999;
}

.navbar-inverse .navbar-brand:hover,.navbar-inverse .navbar-brand:focus
	{
	color: #428bca;
}

.caption-ext {
	border-top: 1px solid #ddd;
	padding-top: 0px;
}

.thumbnail .caption-ext {
    padding: 9px 9px;
}

.fix-height {
	margin-top:0px;
	margin-bottom: 0px;
	overflow: hidden;
	height: 1.5em;
}

.image_zoom,.image_link {
	display: none;
	width: 33px;
	height: 33px;
	position: absolute;
	left: 50%;
	top: 40%;
	margin: -13px 0 0 -33px;
	z-index: 2;
}

.image_link {
	margin: -13px 0 0 1px;
}

.image_zoom:hover,.image_link:hover {
	background-position: 0 0;
}

.image_zoom a,.image_link a {
	display: block;
	width: 33px;
	height: 33px;
}

.hover_img:hover .image_zoom,.hover_img:hover .image_link,.hover_img:hover .item_description
	{
	display: block;
}