@(form: Form[models.form.SiteFormBean], categoryList: Map[String, String], showError:Boolean)
@implicitField = @{ views.html.helper.FieldConstructor(views.html.base.helper.bootstrapField.f) }
@main("サイト登録", null) {

<div class="container">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">サイト登録</h3>
  </div>
  <div class="panel-body">
    URLを入力して、「確認する」をクリックして下さい。
  </div>
</div>
<div class="row">
@if(showError && form.hasErrors) {
<div class="alert alert-danger"><h3>入力内容にエラーがあります。</h3>
	<ul>
		@for( error <- form.errors ){
			@for( item <- error._2 ) {
					<li>@item.message</li>
			}
		}
	</ul>
</div>
}
@helper.form(action = controllers.site.routes.SiteFormController.confirm(), 'role -> "form") {
@helper.select(form("category.categoryId"),options=categoryList.toSeq,  'class -> "form-control")
@helper.inputText(form("url"), 'id -> "InputUrl", 'class -> "form-control input-lg", 'placeholder -> "URL" )
@helper.inputText(form("title"), 'id -> "InputTitle", 'class -> "form-control", 'placeholder -> "タイトル" )
@helper.inputText(form("companyName"), 'id -> "InputCompany", 'class -> "form-control", 'placeholder -> "会社名" )
@helper.input(form("tagList"), 'id -> "InputTag", 'class -> "select form-control") { (id, name, value, args) =>
    <input type="hidden" name="@name" id="@id" value="@value" @toHtmlArgs(args)>
}
<button type="submit" class="btn btn-info btn-lg btn-block" data-loading-text="送信中..." id="submit-btn" >確認する</button>
}
</div>
</div>

}{
    <script type='text/javascript' src='@routes.Assets.at("js/site/form.js")'></script>
}
