@(beanList: List[models.SiteBean])

@main(null, null) {

<div class="container" id="listContainer">
<div class="row" id="list0">
	@if(beanList != null && beanList.size() > 0){
	    @for(bean <- beanList){
		  <div class="col-sm-6 col-md-4">
		  	<div class="thumbnail hover_img">
		    	<a href="@{bean.url}" class="fixpreload"><img title="@{bean.title}" src="@{bean.thumbUrl}" alt="@{bean.url}" /></a>
		  	</div>
		  </div>
	    }
	}
</div>

</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
  <div id="loading" style="display:none;" class="alert alert-info">Loading...</div>
  <input type="hidden" id="hasNext" value="0" />
  <input type="hidden" id="page" value="1" />
  </div>
</div>

}
